body{
    background-color: gray
}
h1{
    font-size: 70px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}   
p{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
img{
    width: 450px;
    height: 350px;
    margin: 100px;
    margin-left: 130px;
}
.cabecalho{
    background-color: rgb(255, 255, 255)
}
.lista_cabecalho{
    display: flex;
    margin-left: 200px;
}
  .item_lista_cabecalho{
    font-size: 40px;
    list-style: none;
    padding-left:40px;
}  
 .logo_cabecalho{
    width: 500px;
    margin-left: 600px;
    margin-top: 50px;
}
